.edit-rating {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: var(--bg-color);
    padding: 0 0.8rem;
    border-radius: 0.5rem;
    width: 92%;
}

.edit-rating p {
    width: fit-content;
    padding: 0 0.5rem;
    border-radius: 0.4rem;
    font-weight: bolder;
    margin: 0.4rem 0;
    transition: 0.3s ease;
}

.edit-rating p:hover {
    transform: scale(1.1);
    margin: 0.4rem;
}