.card-container {
    box-sizing: border-box;
    overflow-x: scroll;
    height: 100%;
    display: flex;
}

.card-container::-webkit-scrollbar {
    display: none;
}

/* .card-container::-webkit-scrollbar-track {
    background: white;
}

.card-container::-webkit-scrollbar-thumb {
    background: var(--break-color);
    border: 0.3rem solid white;
    border-radius: 1rem;
} */




.card {
    margin-right: 1rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    min-width: 15rem;
    height: fit-content;
    max-height: 100%;
    box-sizing: border-box;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
}

.seperation-line-card {
    margin: 0.5rem 0;
    width: 100%;
    height: 0.5px;
    background-color: var(--break-color);
}

/* add button */

.add-card-container {
    display: flex;
    height: fit-content;
    transition: 0.3s ease;
}

.add-card-icon {
    color: var(--secondary-color);
    font-size: 2.5rem;
}

.add-card-container:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* subcard */

.subcards-container {
    overflow-y: scroll;
    flex-grow: 1;
    margin-bottom: 1rem;
}

.subcard {
    background-color: #fff;
    padding: 0.7rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    transition: 0.5s ease;
    color: var(--break-color);
}

.subcard:hover {
    cursor: pointer;
    border: 0.5px solid var(--break-color);
}

.subcard:last-child {
    margin-bottom: 0;
}

.subcard:first-child {
    margin-top: 0;
}

.subcard-top h4 {
    font-size: 0.9rem;
    font-weight: bolder;
    color: var(--text-color);
    margin-bottom: 0.2rem;
}

.seperation-line-card {
    margin: 0.7rem 0;
}

.subcard-top-bottom-section {
    display: flex;
}

ul {
    display: flex;
    align-items: center;
    position: relative;
}

.assigned-users {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.assigned-users ul li {
    display: flex;
    align-items: center;
}

.assigned-users ul li img {
    box-sizing: border-box;
    object-fit: cover;
    height: 2rem;
    width: 2rem;
    border-radius: 50px;
    border: 0.9px solid white;
}

.rating-container {
    display: flex;
    align-items: center;
}

.subcard-rating-display {
    padding: 0.1rem 0.5rem;
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    font-size: 0.6rem;
    font-weight: bold;
}

.assigned-user-one {
    position: relative;
    left: 1rem;
}

/* subcard bottom */

.subcard-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.subcard-bottom p {
    font-size: 0.6rem;
    margin: 0 auto;
}

.subcard-date-container {
    display: flex;
    align-items: center;
}

.date-icon {
    font-size: 0.8rem;
    margin-right: 0.5rem;
    margin-bottom: 1px;
    color: var(--text-color);
}

.comment-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.comment-icon {
    color: var(--text-color);
    font-size: 0.8rem;
    margin-right: 0.2rem;
    margin-top: 2px;
}

/* subcard button */

.subcard-btn {
    width: 100%;
    height: 2rem;
    font-size: 0.7rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed var(--secondary-button-color);
    color: var(--secondary-button-color);
    border-radius: 0.5rem;
    transition: 0.3s ease;
}

.subcard-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
    border: 1px solid var(--secondary-button-color);
}