/* .signup-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-form {
    padding: 10rem;
    border: 1px var(--bg-color) solid;
    box-shadow: 1px 1px 10px var(--bg-color);
    box-sizing: border-box;
    border-radius: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
}



.signup-line-one {
    height: 1px;
    width: 10rem;
    background: var(--bg-color);
    align-self: center;
    margin: 3rem 0;
} */

.signup-content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-container {
    padding: 10rem 12rem;
    border: 1px var(--bg-color) solid;
    box-shadow: 1px 1px 10px var(--bg-color);
    box-sizing: border-box;
    border-radius: 1rem;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-form h1 {
    align-self: center;
}

.signup-line-one {
    margin: 2rem 0;
    height: 1px;
    width: 10rem;
    background: var(--bg-color);
    align-self: center;
}

.signup-line-two {
    margin: 2rem 0;
    height: 1px;
    width: 10rem;
    background: var(--bg-color);
    align-self: center;
    position: absolute;
    z-index: -1;
}