.add-project-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 70%);
    z-index: 1;
}

.add-project-form-container {
    padding: 3rem 5rem;
    width: 27rem;
    background-color: white;
    border-radius: 1rem;
    z-index: 2;
}

.add-project-form-container h3 {
    font-weight: bolder;
}

.add-project-form {
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
}

.add-project-form label {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: flex-start;
    font-size: 0.7rem;
    color: var(--text-color);
}

.add-project-form input {
    color: var(--text-color);
    border: 1px solid var(--break-color);
}

.select-input {
    margin-top: 0.35rem;
    width: 11rem;
}

.add-project-form-left-container {
    margin-right: 4rem;
    width: 100%;
}

.click-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
}

.due-date-input {
    width: 10rem;
}

.add-project-btn-container {
    display: flex;
    justify-content: flex-end;
}