.sidebar-container {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    background-color: var(--bg-color);
    padding: 3rem;
    box-sizing: border-box;
}

.sidebar-container-inactive {
    display: none;
}

/* sidebar toggle */

.sidebar-toggle-open {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color);
}

.sidebar-toggle-closed {
    display: none;
}

/* logo header */

.title-container {
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
}

.title {
    margin-top: 2px;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    cursor: default;
}

.logo {
    font-size: 1.5rem;
    margin-left: 1rem;
}

/* user widget header */

.user-widget-container {
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
}

.user-widget-container p {
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.letterbox {
    padding: 0.25rem 1.2rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
}

.letterbox p {
    color: white;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 600;
}

/* ul list */

.overview-heading {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.overview-heading p {
    font-size: 0.55rem;
}

.nav-list {
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav-list li {
    box-sizing: border-box;
    padding: 1rem 0;
    padding-left: 1rem;
    transition: ease 0.3s;
}

.nav-list li a {
    color: var(--text-color);
}

.nav-list li:hover {
    color: var(--text-color);
    transform: scale(1.1);
}

.nav-list li a {
    display: flex;
    align-items: center;
}

.nav-list button {
    margin-top: 2rem;
}

/* close & open sidebar */

.close-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1rem;
    padding: 1rem;
    font-weight: bolder;
    z-index: 1;
    cursor: pointer;
    color: var(--text-color);
    transition: ease 0.3s;
}

.close-icon:hover {
    transform: scale(1.2);
    color: var(--secondary-color);
}

.open-icon {
    font-size: 1rem;
    padding: 1rem;
    z-index: 1;
    font-weight: bolder;
    cursor: pointer;
    color: var(--text-color);
    transition: ease 0.3s;
}

.open-icon:hover {
    transform: scale(1.2);
    color: var(--secondary-color);
}



/* icons */

.dashboard-icon {
    margin-right: 1rem;
    font-size: 0.8rem;
}

.settings-icon {
    margin-right: 1rem;
    font-size: 1rem;
}

.signup-icon {
    margin-right: 1rem;
    font-size: 0.9rem;
}

.login-icon {
    margin-right: 1rem;
    font-size: 1.2rem;
}


/* workspace */

.workspace-nav {
    display: flex;
    align-items: center;
}

.workspace-nav p {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.55rem;
    margin-right: auto;
    margin-bottom: 1rem;
}

.add-icon {
    margin-left: auto;
    margin-bottom: 1rem;
    padding: 0.05rem 0.27rem 0;
    font-size: 1rem;
    color: var(--break-color);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: 0.3s ease;
}

.add-icon:hover {
    color: var(--secondary-color);
    border-radius: 0.5rem;
}

/* workspace ul */

.workspace-list {
    height: 10rem;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.workspace-list li {
    color: inherit;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0.5rem 0;
    margin-right: 0.5rem;
    color: var(--text-color);
    width: 100%;
}

.workspace-list li:hover a {
    color: var(--secondary-color);
}

.workspace-list li a {
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.workspace-list li a.active {
    background-color: var(--secondary-color);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    width: 100%;
    color: white;
}

.folder-minus-icon {
    position: absolute;
    right: 1rem;
    color: var(--bg-color);
    font-size: 0.75rem;
    transition: 0.3s;
    z-index: -2;

}

.workspace-list li a.active .folder-minus-icon {
    z-index: 1;
}

.workspace-list li a.active .folder-minus-icon:hover {
    transform: scale(1.2);
    cursor: pointer;
}


/* style circles bottom */

.sidebar-circles-container {
    position: absolute;
    bottom: 0;
    left: 0;
}

.sidebar-circles {
    position: relative;
}

.sidebar-circle-primary-bottom {
    position: absolute;
    bottom: -7rem;
    left: -6rem;
    width: 14rem;
    height: 14rem;
    background-color: var(--secondary-color);
    border-radius: 10rem;

}

.sidebar-circle-secondary-bottom {
    position: absolute;
    bottom: -2.5rem;
    left: 6rem;
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    background-color: var(--primary-color);
}

@media(max-height: 740px) {

    .sidebar-circles-container {
        position: relative;
        bottom: -12rem;
        left: -3rem;
    }

}

/* demo button */

.demo-container {
    display: flex;
    position: relative;
    left: -2px;
    align-items: center;
    cursor: pointer;
    transition: ease 0.3s;
    color: var(--text-color);
}

.demo-container svg {
    font-size: 1.1rem;
    margin-right: 1.2rem;
}

.demo-btn:hover {
    transform: scale(1.1);
}