.show-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: inherit;
    padding: 2rem;
    box-sizing: border-box;
}

.title-nav-section h1 {
    margin-bottom: 2rem;
}

.show-nav-list {
    display: flex;
}

.show-nav-list p {
    margin-right: 2rem;
    color: var(--text-color);
}

.show-nav-list p:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

.show-nav-list p.active {
    color: var(--secondary-color);
    cursor: pointer;
    text-decoration: underline 2px;
    text-underline-offset: 1.23rem;
}

/* break line */

.break-line {
    width: 100%;
    height: 1px;
    background-color: var(--break-color);
    margin: 1rem 0 2rem;
}

/* main show section */

.main-show-section {
    height: auto;
    box-sizing: border-box;
    overflow-y: scroll;
}