.show-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: inherit;
    padding: 2rem;
    box-sizing: border-box;
    overflow-x: hidden;
}

.title-nav-section input {
    border: none;
    font-family: inherit;
    font-size: 2.2rem;
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 2rem;
}

.title-nav-section input:focus {
    border: none;
}

.show-nav-list {
    display: flex;
    align-items: center;
}

.nav-links-container {
    display: flex;
}

.nav-links-container p {
    margin-right: 2rem;
    color: var(--text-color);
}

.nav-links-container p:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

.nav-links-container p.active {
    color: var(--secondary-color);
    cursor: pointer;
    text-decoration: underline 2px;
    text-underline-offset: 1.5rem;
}

/* show list right */

.show-nav-list-right {
    margin-left: auto;
    display: flex;
}

.filter-box {
    display: flex;
    align-items: center;
    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;
    border: 1px solid var(--break-color);
}

.filter-box p {
    margin-left: 0.3rem;
}

.items-container {
    display: flex;
    align-items: center;
    padding: 0.1rem 0.2rem;
    border-radius: 0.5rem;
    border: 1px solid var(--break-color);
}

.filter-icon {
    padding-top: 2px;
    color: var(--text-color);
}

.cloud-icon {
    background: var(--secondary-color);
    color: white;
    padding: 0.3rem;
    border-radius: 0.4rem;
    margin-right: 0.4rem;
}

.messages-icon {
    color: var(--text-color);
    margin-right: 0.2rem;
}

.vertical-seperation-line {
    height: 1.5rem;
    width: 1px;
    background-color: var(--break-color);
    margin: 0 0.5rem;
    align-self: center;
}


/* break line */

.break-line {
    width: 100%;
    height: 1px;
    background-color: var(--break-color);
    margin: 0.7rem 0 2rem;
}

/* main show section */

.main-show-section {
    height: auto;
    box-sizing: border-box;
    overflow-y: hidden;
}

@media (max-width: 680px) {

    .show-nav-list-right {
        display: none;
    }

    .break-line {
        margin-top: 1.25rem;
    }
}

@media (max-width: 950px) {

    .filter-box {
        display: none;
    }

    .vertical-seperation-line {
        display: none;
    }
}